@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --primary: #D9A52D;
  --halfPrimary: rgba(227, 175, 69, 0.2);
  --bodyText: #212B36;
  --paraText: #525559;
  --subText: #666D80;
   --customGray: 'rgba(244, 244, 244, 0.4)';
 
  
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'ProximaNova', sans-serif;
}
